name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: ${{ matrix.os }} jdk-${{ matrix.java }} tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [8, 11]
        exclude:
          - os: windows-latest
            java: 8
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      # We need to set proper Pagefile limits in advance.
      # Github actions default page file size is quite small,
      # it's not enough to run all tests, especially when using None GC.
      # We've observed that on Unix memory management is less strict,
      # you can reserve more memory than it's physically possible.
      # On Windows however you need to reserve/commit memory in advance -
      # it does not matter whether it would be used or not, the amount of all
      # reserved memory cannot exceed the amount of physically available storage.
      - name: Configure Pagefile
        if: matrix.os == 'windows-latest'
        uses: al-cheb/configure-pagefile-action@v1.2
        with:
          minimum-size: 4GB
          maximum-size: 16GB
      - name: Test
        run: sbt +test
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 8
      - run: ./bin/scalafmt --check
      - run: sbt scalafixCheckAll
      - run: sbt coreJVM/mimaReportBinaryIssues
      - run: sbt docs/docusaurusCreateSite
